<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shuojie.dao.mapsMapper.CurrentLineMapper" >
  <resultMap id="BaseResultMap" type="com.shuojie.domain.maps.CurrentLine" >
    <id column="clid" property="clid" jdbcType="INTEGER" />
    <result column="cu_li_longitude" property="cuLiLongitude" jdbcType="DECIMAL" />
    <result column="cu_li_latitude" property="cuLiLatitude" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
     clid, cu_li_longitude, cu_li_latitude
  </sql>

  <insert id="insertCurrentLine" parameterType="com.shuojie.domain.maps.CurrentLine" >
    insert into current_line (clid, cu_li_longitude,
      cu_li_latitude)
    values (#{clid,jdbcType=INTEGER}, #{cuLiLongitude,jdbcType=DECIMAL},
      #{cuLiLatitude,jdbcType=DECIMAL})
  </insert>

</mapper>